.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-nowrap {
  white-space: nowrap;
}

.text-truncate {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}


// Custom font sizes
.alpha { font-size: ms(-1); };
.beta { font-size: ms(0); };
.gamma { font-size: ms(2); };
.delta { font-size: ms(3); };
.epsilon { font-size: ms(7); };
.zeta { font-size: ms(8); };
.eta { font-size: ms(9); };
