.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-nowrap {
  white-space: nowrap;
}

.text-truncate {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}
