.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-nowrap {
  white-space: nowrap;
}

.text-truncate {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}


// Font sizes

.tera { font-size: 6.1875rem; line-height: 7.5rem; }

.giga { font-size: 4.375rem; line-height: 5.625rem; }

.kilo { font-size: 3.5rem; line-height: 4.75rem; }
