blockquote {
  border-left: 2px solid color("blue");
  color: color("icon-text");
  padding: padding("tiny") padding("small");
  margin-bottom: margin("small");
  margin-left: margin("small");

  p {
    margin-bottom: margin("small");
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}
