.button {
  @include border-radius();
  background: linear-gradient(color("light-40"), color("light-60"));
  border: 1px solid color("light-60");
  border-top: 1px solid color("light-80");
  border-bottom: 1px solid color("light");
  box-shadow: color("white") 0 1px 0 inset, rgba(color("black"), 0.1) 0 1px 0 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
  color: color("black");
  cursor: pointer;
  padding: 8px 15px 6px;
  text-decoration: none;

  &:hover {
    background: linear-gradient(color("light-20"), color("light-40"));
    color: color("dark");
  }

  &:hover:active,
  &:active {
    background: linear-gradient(color("light-60"), color("light-80"));
    color: color("dark");
  }
}
