
$button-padding: 0.6rem 1.5rem !default;
$button-outline-padding: 0.5rem 1.37rem !default;
$button-padding-hover: $button-padding !default;

$button-border-radius: 30px !default;
$button-transition-duration: 0.25s !default;
$button-border-width: 2px !default;

%button {
  @include border-radius($button-border-radius);
  display: inline-block;
  background-color: color("cloakroom");
  color: color("white");
  text-transform: uppercase;
  font-size: ms(0);
  font-weight: bold;
  border: 0;
  border-bottom: 1px solid color("cloakroom-dark");
  padding: $button-padding;
  transition: all $button-transition-duration;
  text-align: center;
  text-decoration: none;
  appearance: none;
  user-select: none;
  cursor: pointer;
}

.button {
  @extend %button;

  &:hover {
    background-color: lighten(color("cloakroom"), 10%);
    color: color("white");
  }

  &:hover:active,
  &:active {
    background-color: color("cloakroom");
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  }

  &--green {
    background: color("green");
    border-color: color("green-dark");

    &:hover {
      background-color: lighten(color("green"), 10%);
    }

    &:hover:active,
    &:active {
      background-color: color("green");
    }
  }

  &--blue {
    background: color("blue");
    border-color: color("blue-dark");

    &:hover {
      background-color: lighten(color("blue"), 10%);
    }

    &:hover:active,
    &:active {
      background-color: color("blue");
    }
  }

  &--dark {
    background: color("dark-60");
    border-color: darken(color("dark-60"), 40%);

    &:hover {
      background-color: lighten(color("dark-60"), 10%);
    }

    &:hover:active,
    &:active {
      background-color: color("dark-60");
    }
  }

  &--black {
    background: color("dark");
    border-color: color("black");

    &:hover {
      background-color: lighten(color("dark"), 15%);
    }

    &:hover:active,
    &:active {
      background-color: lighten(color("dark"), 5%);
    }
  }

  &--white {
    background: color("white");
    border-color: color("white");
    color: color("cloakroom");

    &:hover {
      background-color: color("light");
      color: color("cloakroom");
    }

    &:hover:active,
    &:active {
      background-color: color("white");
      color: color("cloakroom");
    }
  }

  &-outline {
    @extend %button;
    background: transparent;
    color: color("cloakroom");
    padding: $button-outline-padding;
    border: $button-border-width solid color("cloakroom");

    &:hover {
      border-color: lighten(color("cloakroom"), 10%);
      color: lighten(color("cloakroom"), 10%);
      background: transparent;
    }

    &:hover:active,
    &:active {
      border-color: color("cloakroom");
      color: color("cloakroom");
      background: transparent;
    }

    &.button--green {
      border-color: color("green");
      color: color("green");

      &:hover {
        border-color: color("green-light");
        color: color("green-light");
      }

      &:hover:active,
      &:active {
        border-color: color("green");
        color: color("green");
      }
    }

    &.button--blue {
      border-color: color("blue");
      color: color("blue");

      &:hover {
        border-color: color("blue-light");
        color: color("blue-light");
      }

      &:hover:active,
      &:active {
        border-color: color("blue");
        color: color("blue");
      }
    }

    &.button--dark {
      border-color: color("dark-60");
      color: color("dark-60");

      &:hover {
        border-color: lighten(color("dark-60"), 10%);
        color: lighten(color("dark-60"), 10%);
      }

      &:hover:active,
      &:active {
        border-color: color("dark-60");
        color: color("dark-60");
      }
    }

    &.button--black {
      border-color: color("dark-40");
      color: color("dark-40");

      &:hover {
        border-color: color("dark-20");
        color: color("dark-20");
      }

      &:hover:active,
      &:active {
        border-color: color("dark-40");
        color: color("dark-40");
      }
    }

    &.button--white {
      border-color: color("white");
      color: color("white");

      &:hover {
        border-color: color("light");
        color: color("light");
      }

      &:hover:active,
      &:active {
        border-color: color("white");
        color: color("white");
      }
    }
  }
}
