.button {
  @include border-radius();
  display: inline-block;
  background: color("blue");
  color: color("white");
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: bold;
  border-bottom: 2px solid color("blue-dark");
  cursor: pointer;
  padding: padding("small") padding();
  text-decoration: none;
  user-select: none;

  &:hover {
    background-color: color("blue-light");
    color: color("white");
  }

  &:hover:active,
  &:active {
    background-color: color("blue");
    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  }
}

.button-green {
  background: color("green");
  border-color: color("green-dark");

  &:hover {
    background-color: color("green-light");
  }

  &:hover:active,
  &:active {
    background-color: color("green");
  }
}

.button-yellow {
  background: color("yellow");
  border-color: color("yellow-dark");

  &:hover {
    background-color: color("yellow-light");
  }

  &:hover:active,
  &:active {
    background-color: color("yellow");
  }
}

.button-red {
  background: color("red");
  border-color: color("red-dark");

  &:hover {
    background-color: color("red-light");
  }

  &:hover:active,
  &:active {
    background-color: color("red");
  }
}

.button-black {
  background: color("dark-40");
  border-color: color("dark-80");

  &:hover {
    background-color: color("dark-20");
  }

  &:hover:active,
  &:active {
    background-color: color("dark-40");
  }
}

.button-outline {
  border: 2px solid color("blue");
  background: transparent;
  color: color("blue");

  &:hover {
    border-color: color("blue-light");
    color: color("blue-light");
    background: transparent;
  }

  &:hover:active,
  &:active {
    border-color: color("blue");
    color: color("blue");
    background: transparent;
  }

  &.button-white {
    border-color: color("white");
    color: color("white");

    &:hover {
      border-color: color("light-20");
      color: color("light-20");
    }

    &:hover:active,
    &:active {
      border-color: color("white");
      color: color("white");
    }
  }

  &.button-green {
    border-color: color("green");
    color: color("green");

    &:hover {
      border-color: color("green-light");
      color: color("green-light");
    }

    &:hover:active,
    &:active {
      border-color: color("green");
      color: color("green");
    }
  }

  &.button-yellow {
    border-color: color("yellow");
    color: color("yellow");

    &:hover {
      border-color: color("yellow-light");
      color: color("yellow-light");
    }

    &:hover:active,
    &:active {
      border-color: color("yellow");
      color: color("yellow");
    }
  }

  &.button-red {
    border-color: color("red");
    color: color("red");

    &:hover {
      border-color: color("red-light");
      color: color("red-light");
    }

    &:hover:active,
    &:active {
      border-color: color("red");
      color: color("red");
    }
  }

  &.button-black {
    border-color: color("dark-40");
    color: color("dark-40");

    &:hover {
      border-color: color("dark-20");
      color: color("dark-20");
    }

    &:hover:active,
    &:active {
      border-color: color("dark-40");
      color: color("dark-40");
    }
  }
}
