.docs-example {
  @include border-radius($border-radius $border-radius 0 0);
  padding: padding("small");
  border-top: 1px solid color("light-40");
  border-left: 1px solid color("light-40");
  border-right: 1px solid color("light-40");
  position: relative;

  &:after {
    @include border-radius(0 $border-radius);
    content: "demo";
    position: absolute;
    top: 0;
    right: 0;
    background-color: color("light-20");
    padding: 0 padding("tiny");
    color: color("light-20");
    font-size: 0.75rem;
    font-family: $base-font-family-monospace;
  }

  + .highlight {
    @include border-radius(0 0 $border-radius $border-radius);
    border: 1px solid color("light-40");

    pre {
      margin: 0;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      word-wrap: break-word;
    }
  }

  .grid {
    margin-bottom: margin();

    &:last-child {
      margin-bottom: margin('clear');
    }
  }

  .column {
    font-family: $base-font-family-monospace;
    background-color: color("blue-light");
    border: 1px solid color("blue");
  }
}

.highlight {
  margin-bottom: margin("small");
}

.docs__color {
  @include border-radius();
  padding-top: $ms-base * 2;
  padding-bottom: $ms-base * 2;
  text-align: center;
}

table code,
p > code {
  @extend .text-nowrap;
}
