.sidebar {
  @include border-radius();
  border: 1px solid color("tertiary-grey");

  ul {
    @include reset-unordered-list;
  }
}

.sidebar > ul > li {
  border-bottom: 1px solid color("secundary-grey");

  &:last-child {
    border-bottom: 0;
  }
}

.sidebar__item {
  padding: padding("tiny") padding("small");
  font-size: 0.875rem;
  text-decoration: none;
  color: color("main-text");

  // Style a.sidebar__item, if sidebar__item render it as a block in stead of inline
  a, & {
    display: block;
    &:hover {
      background-color: color("background-icons");
    }
  }

  li:hover > & + ul {
    display: block;
  }

  + ul {
    display: none;

    .sidebar__item {
      padding: padding("tiny") padding();
      border-bottom: 0;
      color: color("icon-text");
    }
  }
}

.sidebar__item--selected {
  font-weight: bold;

  + ul {
    display: block;
  }
}

.sidebar > ul > li.sidebar__item--selected,
.sidebar > ul > li > .sidebar__item--selected {
  border-left: 2px solid color("blue");
}
