h1,
h2,
h3,
h4,
p:not(:last-of-type) {
  margin-bottom: margin("small");
}

h1, h2 {
  border-bottom: 1px solid color("light-40");
}

.jumbotron {
  h1 {
    border-bottom: 0;
    margin-bottom: margin("clear");
  }
}
