$base-font-size: 16px !default;
$base-font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$base-font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$base-font-family: $base-font-family-sans-serif !default;
$base-text-color: color("dark-80");

%base-font {
  font-family: $base-font-family;
  font-size: 100%;
  line-height: 1.5rem;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-font-size;
}

body {
  @extend %base-font;
  color: $base-text-color;
}
