$code-background: color("light-20") !default;
$code-padding: 0.2rem !default;
$code-font-size: 0.875rem !default;

code {
  @include border-radius();
  font-family: $base-font-family-monospace;
  font-size: $code-font-size;
  background: $code-background;
  padding: $code-padding;

  pre > {
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
}

pre {
  background: $code-background;
  padding: padding("tiny");
}
