$heading-font-family: $base-font-family !default;
$heading-font-weight: bold !default;
$heading-color: inherit !default;

$h1-font-size: ms(6) !default;
$h2-font-size: ms(5) !default;
$h3-font-size: ms(4) !default;
$h4-font-size: ms(3) !default;
$h5-font-size: ms(2) !default;
$h6-font-size: ms(-1) !default;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $heading-color;
}

h1 { font-size: $h1-font-size; }

h2 { font-size: $h2-font-size; }

h3 { font-size: $h3-font-size; }

h4 { font-size: $h4-font-size; }

h5 { font-size: $h5-font-size; }

h6 { font-size: $h6-font-size ; }
