// Larger leading paragraphs
.lead {
  font-size: $base-font-size * 1.25;
  line-height: ($base-font-size * 1.25) * 1.618;
  color: color("dark-80");
  margin-bottom: margin("small");
}

strong { font-weight: bold; }

em { font-style: italic; }

small {
  font-family: $base-small-font-family;
  font-size: $base-font-size * 0.75;
}

u { text-decoration: underline; }

del,
s { text-decoration: line-through; }

mark {
  background-color: color("blue-light");
  font-style: normal;
  font-weight: normal;
  padding: 0 5px;
}
