$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-blue: rgba(0, 165, 201, 1);

$colors: (
  'black': $color-black,
  'white': $color-white,
  'blue': $color-blue,
);

@mixin text-colors {
  @each $color-name, $color in $colors {
    .color--#{$color-name} {
      color: #{$color};
    }
  }
}

@include text-colors;

@mixin bg-colors {
  @each $color-name, $color in $colors {
    .bg-color--#{$color-name} {
      background-color: #{$color};
    }
  }
}

@include bg-colors;
