@include font-face("MiloWeb", "../fonts/milo/MiloWeb.woff", null, null, woff);

$base-font-size: 16px !default;

%base-font {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5rem;
  color: $color-black;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-font-size;
}

body {
  @extend %base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %base-font;
}

h1 {
  font-size: 4rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

