@function margin($modifier-key: "default", $modifier: 0) {
  @if type-of($modifier-key) == "number" and not unitless($modifier-key) {
    $modifier: $modifier-key;
    $modifier-key: "default";
  }

  @return map-get($margin-modifiers, $modifier-key) + $modifier;
}

@function padding($modifier-key: "default", $modifier: 0) {
  @if type-of($modifier-key) == "number" and not unitless($modifier-key) {
    $modifier: $modifier-key;
    $modifier-key: "default";
  }

  @return map-get($padding-modifiers, $modifier-key) + $modifier;
}

