$flex-columns: (
  "one": 1,
  "two": 2,
  "three": 3,
  "four": 4,
  "five": 5,
  "six": 6,
  "seven": 7,
  "eight": 8,
  "nine": 9,
  "ten": 10,
  "eleven": 11,
  "twelve": 12,
) !default;

.grid {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  &--valign-top {
    align-items: flex-start;
  }

  &--valign-center {
    align-items: center;
  }

  &--valign-bottom {
    align-items: flex-end;
  }

  &--gutter {
    margin-left: -$grid-gutter / 2;
    margin-right: -$grid-gutter / 2;

    > .column {
      @include column-gutter(true);
    }
  }
}

.column {
  @include column-gutter(false);
  flex: 1 0 auto;

  @each $column, $value in $flex-columns {
    @if $enable-responsive-grid {
      @include large-screens {
        &--#{$column} {
          @include column($column, $value);
        }
      }
    } @else {
      &--#{$column} {
        @include column($column, $value);
      }
    }

    @include small-screens {
      &-sm--#{$column} {
        @include column($column, $value);
      }
    }

    @include mobile {
      &-m--#{$column} {
        @include column($column, $value);
      }
    }

    @include tablet {
      &-t--#{$column} {
        @include column($column, $value);
      }
    }
  }
}

// If debug mode is enabled, make the columns visible
@if $enable-grid-debug {
  .column {
    background: $grid-debug-color;
  }
}
