$margin-modifiers: (
  "clear" : 0,
  "tiny"  : ms(-4),
  "small" : ms(-2),
  null    : ms(0),
  "large" : ms(2),
  "huge"  : ms(4),
) !default;

$padding-modifiers: $margin-modifiers !default;

@function margin($modifier: null) {
  @return unquote(map-get($margin-modifiers, $modifier));
}

@function padding($modifier: null) {
  @return unquote(map-get($padding-modifiers, $modifier));
}
