$margin: 1.5rem !default;
$golden-ratio: 1.618;

$margin-modifiers: (
  "clear" : 0,
  "tiny"  : $margin / ($golden-ratio * 2),
  "small" : $margin / $golden-ratio,
  null    : $margin,
  "large" : $margin * $golden-ratio,
  "huge"  : $margin * ($golden-ratio * 2),
) !default;

$padding-modifiers: $margin-modifiers !default;

@function margin($modifier: null) {
  @return unquote(map-get($margin-modifiers, $modifier));
}

@function padding($modifier: null) {
  @return unquote(map-get($padding-modifiers, $modifier));
}
