$margin: 1.5rem !default;
$scale: 1.2 !default;

$margin-modifiers: (
  "clear" : 0,
  "tiny"  : $margin / ($scale * 2),
  "small" : $margin / $scale,
  null    : $margin,
  "large" : $margin * $scale,
  "huge"  : $margin * ($scale * 2),
) !default;

$padding-modifiers: $margin-modifiers !default;

@function margin($modifier: null) {
  @return unquote(map-get($margin-modifiers, $modifier));
}

@function padding($modifier: null) {
  @return unquote(map-get($padding-modifiers, $modifier));
}
